<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!--<link rel = stylesheet type = "text/css" href="../public/stylesheets/homeStyle.css"/>-->
    <link rel = stylesheet type = "text/css" href="stylesheets/homeStyle.css"/>



    <script type = "text/javascript" src = "/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/home.js"></script>
</head>
<body>

    <div id = "title">
        专家征集系统
    </div>
    <div id = "body">
        <div id = "navigation">
            <div class = "subTitle" ><p id = "homePage">首页</p></div>
            <div class = "subTitle"><p  id = "fillInfo">专家信息填入</p></div>
            <div class = "subTitle"><p id = "modify">密码修改</p></div>
        </div>

         <div class = "subHtml">

         </div>

    </div>

</body>
</html>