<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel= stylesheet type="text/css" href = "/stylesheets/modifyPassword.css"/>
    <script type="text/javascript" src = "/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src = "/javascripts/modifyPassword.js"></script>
</head>
<body>
    <div id = "modifyPassword">
        <fieldset id = "field">
            <div id = "modifyTitle">
                <h3 >密码修改</h3>
            </div>

            <div>
                <label class = "modifySelect" for = "currentP">当前密码：</label>
                <input type="password" class = "fillContent" id = "currentP"/>
            </div>

            <div class = "ps">&nbsp;</div>

            <div>
                <label class = "modifySelect" for = "newP">新密码：</label>
                <input type="password" class = "fillContent" id = "newP"/>
            </div>

            <div class = "ps"> 密码由6-20个字符组成、区分大小写</div>

            <div>
                <label class = "modifySelect" for = "confirmP">确认密码：</label>
                <input type="password" class = "fillContent" id = "confirmP"/>
            </div>

            <div class = "ps"></div>

            <div>
                <button type="button" id = "confirmM">确定</button>
                <button type = "button" id = "cancelM">重置</button>
            </div>
        </fieldset>
    </div>
</body>
</html>