
body{
    background-color: #89a3ff;
}

.registerField{
    background-color: #bdc5ff;
    height:300px;
    width: 700px;
    margin-left:25%;
    padding-top:1px;
    margin-top:10%;//外边距

}

.registerSelect{
    height:20px;
    width:140px;
    display:inline-block;
    text-align: center;
    margin-left:18%;
    margin-top:3%;//外边距
}

.registerTitle{
    background-color: #ffde53;
    color: #ffffff;
    border-radius:5px;
    font-size: 20px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:-2%;
}

.fillContent{
    width:150px;
}

.ps{
    margin-left: 39%;
    padding-top: 1%;
    font-size: 12px;

}


#registerConfirm{
    margin-left: 30%;
    margin-top: 4%;
}

#reset{
    margin-left:25%;

}
